@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,400;0,700;1,400;1,700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
    html,
    body {
        @apply w-full bg-themeDarkGrey text-themeTextWhite font-eudoxus subpixel-antialiased lg:max-w-[1280px] mx-auto
    }
    #root {

    }
    h1 {
        @apply text-2xl font-eudoxus text-themeHeadWhite font-semibold
    }
    h2 {
        @apply text-lg font-eudoxus text-themeHeadWhite font-semibold
        }
        
        p {
            @apply text-[18px]
    }
    input,
    textarea {
        @apply w-[300px] md:w-[450px] rounded-3xl p-2 text-themeTextWhite border border-opacity-10 border-themeNeonGreen bg-inherit
    }
    textarea {
        @apply h-[250px] md:h-[400px]
    }
    @screen sm {
        body {
            @apply text-base
        }
        h1 {
            @apply text-3xl
        }
        h2 {
            @apply text-2xl
        }
    }
    @screen md {
        input,
        textarea {
            @apply min-w-[400px]
        }
    }
}
.section-paddings {
    @apply p-8 md:p-16 lg:p-20
}

.black-red-gradient {
    background-image: linear-gradient(133deg, #121212 70%, #DC143C 89%);
    filter: blur(120px);
}

.hero-gradient {
    background: linear-gradient(97.86deg,
            #121212 57%,
            #DC143C 61.65%,
            #00ff7f 100%);
}

.nav-gradient {
    background: linear-gradient(90deg,
            #39ff14,
            /* Neon Green */
            #ff073a,
            /* Neon Red */
            #00f6ff,
            /* Neon Blue */
            #c724b1
        );
    filter: blur(80px);
    /* Halo blur effect */
    opacity: 0.5;
    /* Adjust the opacity for more or less intensity */
}